<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
</head>
<body>
    <table width="100%">
        <tr>
            <td></td>
            <td width="960">
                <h1>This Is Main Title</h1>
                <img src="./images/layoutCover2.jpg" alt="cover">

                <table>
                    <tr>
                        <td>
                            <h3>This is even paragraph</h3>
                            <p align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa repudiandae qui quam quisquam a, beatae laudantium aspernatur, cum esse placeat error quaerat odit iure velit tenetur delectus quos. Quis sunt nobis eius ipsa ducimus esse suscipit provident odit. Illum, atque necessitatibus dicta, consectetur nobis eum placeat incidunt at et quisquam unde accusamus sed odit laboriosam dolorem nostrum excepturi temporibus accusantium blanditiis pariatur. Ratione eius sit autem rerum impedit recusandae, nemo voluptate dolor ipsa aperiam deserunt itaque molestias? Sunt minus obcaecati aliquid sed, alias aliquam quas ullam? Dicta quidem aut soluta dolorum, asperiores velit atque, libero minima nulla, voluptate et quo.</p>

                            <h3>This is even paragraph</h3>
                            <p align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam debitis dolorem facere laborum temporibus minus maxime iure aperiam ipsum nobis, deserunt totam quia repudiandae ratione quibusdam earum inventore consectetur obcaecati eius eveniet iusto similique voluptatem ea iste. Nulla ex harum totam eligendi qui, sunt ratione similique nihil ipsum officiis enim molestias, error doloribus mollitia dignissimos obcaecati autem. Nesciunt voluptatem totam eius iste possimus odio aspernatur sequi delectus, praesentium laudantium omnis, expedita pariatur. Hic quo sequi aut doloribus perferendis consequatur. Quos, provident. A suscipit ipsum temporibus cumque laboriosam odit ratione veniam molestias aliquam, ea magni doloremque rerum consectetur maxime ad! Minima.</p>

                        </td>
                        <td>
                            <h3>This is odd paragraph</h3>
                            <p align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam iste, itaque voluptate maxime quod eum possimus modi eos optio. Eligendi esse expedita, cumque ea minima placeat laborum labore! Illo vel incidunt nemo odio cupiditate excepturi odit quas labore ipsam fugit praesentium sit quae quam ducimus deleniti saepe, iste tenetur eveniet soluta repellendus? Consequatur odio cumque laborum omnis, ad explicabo. Repellendus excepturi necessitatibus at, enim doloremque ex earum quaerat eius modi mollitia magnam, nemo amet molestiae. Odio a, at cumque, perspiciatis labore blanditiis rem modi sint esse inventore illum, maxime reiciendis fugit? Quia voluptatum ipsa fugiat quibusdam natus magni eum autem.</p>

                            <h3>This is odd paragraph</h3>
                            <p align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, et alias! Ipsam doloribus ad nobis sit perferendis quis! Cum animi culpa, deserunt fugit velit dolorum pariatur ab ipsa assumenda ea laudantium ipsum ducimus rerum sit beatae itaque. Dolore, dignissimos est quae tempore amet labore? Autem, assumenda voluptas explicabo illo consequuntur unde labore in soluta, fugiat voluptates illum laboriosam alias amet. Quia ea ex necessitatibus facilis quo fugiat earum ratione magnam. Reiciendis modi quam magnam accusantium perferendis repellendus, sunt corrupti fugit tenetur error molestiae, quibusdam voluptate libero voluptatum harum necessitatibus molestias ducimus qui sapiente. Aperiam officiis accusantium voluptatum ad, porro non?</p>

                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
    </table>
</body>
</html>