$bodyBackgroundColor: #9ed1f5;
$headingsColor: #38dffc;
$headingTextColor: rgb(153, 152, 152);
$containerWidth: 50%;
$tableCellColor: white;
$tableWidth: 100%;
$tableTextColor: #333;
$tdFirstChildWidth: 50%px;
$borderColor: #eee;
@mixin text-shadow() {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}
@mixin box-shadow() {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: $bodyBackgroundColor;
}

.container {
    width: $containerWidth;
    margin: 0 auto;
}    

h1 {
    padding: 20px 0;
    text-align: center;
    background: $headingsColor;
    color: $headingTextColor;
    @include box-shadow();
}

h2 {
    margin-bottom: 0px;
    padding-left: 10px;
    text-align: left;
    background: $headingsColor;
    color: $headingTextColor;
}

img {
    height: 400px;
    margin: 40px auto 40px;
    display: block;
    @include box-shadow();
}

table {
    width: $tableWidth;
    color: $tableTextColor;
    background: $tableCellColor;
    border-collapse: collapse;
    @include box-shadow();
    @include text-shadow();
    tr {
        border-bottom: 1px solid $borderColor;
    }

    td {
        padding: 5px 0;
    }
    td:first-child {
        width: $tdFirstChildWidth;
        padding-left: 10px;
    }
}

#footer {
    margin-top: 100px;
}