body {
    background-color: bisque;
    /* text-align: center; */
}
button {
    background-color: brown;
    color: #ffe4c4;
    padding: 10px;
    display: block;
    margin: 10px auto;
}

.buttonChangeColor {
    background-color: aqua;
}