ul {
    color: yellowgreen;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

a:not(:visited) {
    color: red;
}

a:visited {
    color: black;
}

a:hover {
    color: green;
}

a:active {
    color: blue;
}