body {
background-color: lightgray;
width: 900px;
margin: 200px;
}

h1 {
color: #bdb76b;
text-align: center;
}

ul {
    background: #bdb76b;
    color: darkcyan;
}

.backgroundColor {
    background-color:sienna;
}

.backgroundColorListItems {
    background-color: bisque;
}

.list3BackgroundColor {
    background-color: blueviolet;
}