table {
    text-align: center;
    margin: 100px auto;
    border-collapse: collapse;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

thead {
    font-weight: 700;
    background-color: rgba(226, 65, 25, 0.904);
    color: whitesmoke;
    text-align: center;
}

tbody {
    font-size: 18px;
    color: rgba(0, 14, 49, 0.87);
}

td, th {
    padding: 10px 0;
}

td {
    padding-left: 5px; 
    width: max-content;
}

img {
    display: inline-block;
    height: 100px;
    margin: 0 auto;
}

table>tbody>tr:hover{
    background-color: rgb(228, 194, 46);
}

tbody tr:nth-of-type(even){
    background-color: rgba(211, 211, 211, 0.486);
}

thead th:nth-child(3) {
    text-transform: uppercase;
}

tr td:nth-of-type(1) {
    text-align: left;
}